---
import Base from '@layouts/Base.astro'
---

<Base title="About">
	<div class="flex flex-col justify-center items-center text-center gap-4">
		<h1 class="font-black text-2xl">ðŸŽ®ðŸ’¥Attention all League of Legends players!ðŸ’¥ðŸŽ®</h1>

		<div class="flex flex-col gap-2">
			<p class="text-md">
				Do you ever find yourself searching through different websites to see all the champions in LoL? Well, the search
				is over my friend!
			</p>
			<p>Introducing the website that has it all! The one-stop-shop for all things champions in League of Legends.</p>
		</div>
	</div>
</Base>

<!-- With just a few clicks, you can visualize all the champions, their abilities, and even some tips on how to play them! ðŸŽ®ðŸ”¥ No more scrolling through multiple sites, no more confusion. It's all here, ready and waiting for you! ðŸ’»ðŸ’¥

So what are you waiting for? Head on over to the website and check it out for yourself! ðŸ’»ðŸ” Trust us, you won't regret it! ðŸ˜Ž

ðŸ”¥ League of Legends champions at your fingertips! ðŸ”¥ -->
