---
import Base from '@layouts/Base.astro'
---

<Base title="Home">
	<div class="flex flex-col items-center">
		<h1 class="text-4xl">Main page</h1>
		<a class="hover:underline text-blue-500" href="/champions">See all champions</a>
	</div>
</Base>
